# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.x
*.out
*.app

#other
output*
header
eigval*
eigvec*
fixed_point
*_input
par
fixed_point_guess
old_par
initial_guess
fdot
t_angle
results/
