# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.x
*.out
*.app

#outputs of fixed_point.x and optiman.x
output
fdot
t_angle
header
eigval1
eigval2
eigvec1
eigvec2
fixed_point
q_matrix
interp_info

# input files
/initial_guess
/par
/*.f90
/*_input
/old_par
/*_key
/*_projections
